data:
  root_dir: "/zdisk/users/ext_user_03/01_yschoi/project_01_FVH_detection/01_data/07_flair_preproc_slices_v03_whole_h5"
  num_workers: 0
  stratified_split: true   # stratified split 사용 여부
  undersample: true
  undersample_ratio: 2.0   # pos:neg 비율

model:
  resnet:
    enabled: true
    backbone: resnet34
    in_channels: 1
    pretrained: false
  
  vit:
    pretrained: false
    enabled: false
  
  swin:
    enabled: false
    hidden_dim: 96
    layers: [2, 2, 6, 2]
    heads: [3, 6, 12, 24]
    channels: 1
    num_classes: 1
    head_dim: 32
    window_size: 7
    downscaling_factors: [4, 2, 2, 2]
    relative_pos_embedding: true

train:
    batch_size: 8
    epochs: 30
    lr: 1.0e-4
    weight_decay: 1.0e-4
    optimizer: adamw
    scheduler: cosine   # cosine / step / plateau / none
    step_size: 20
    gamma: 0.1
    factor: 0.5          # plateau에서 사용
    patience: 5          # plateau에서 사용
    warmup_epochs: 3
    amp: true
    seed: 42
    pos_weight_auto: true
    gpus: 3
    loss: "focal" # bce/ focal

gradCAM:
    target_layer: "layer4"
    
out:
  output_dir: runs/resnet_03_whole_p1n2_focal_depth34_batch8.yaml